{% load static %}

<html>
  <head>
    <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'css/style.css' %}"
  />
  </head>
  <body>
    <h1 class="search-header">Search for a Pokemon</h1>

    {% if error_message %}
    <p class="error">{{ error_message }}</p>
    {% endif %}
    <form method="get" action="{%url 'pokemon_detail'%}">
      <label for="name">Enter A Pokemon Name:</label><br />
      <input class="label-form" type="text" id="name" name="name" /><br /><br />
      <input class="submit-btn" type="submit" value="Submit" />
    </form>
    <a class="home-btn" href="{%url 'pokedex_home'%}">Back to Home</a>
  </body>
</html>
