{% load static %}

<html>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
  </head>
  <body class="body-border">
    <h1 class="poke-name">Name: {{ name }}</h1>

    {% if sprite_url %}
    <img class="sprite-front" src="{{ sprite_front }}" alt="{{ name }} front sprite" />
    <img class="sprite-back" src="{{ sprite_back }}" alt="{{ name }} back sprite" />
    {% endif %}

    <p class="pokemon-det">
      Types: {{ types|join:', ' }}<br />
      Height: {{ height }} m<br />
      Weight: {{ weight }} kg
    </p>
    <a class="back-btn" href="{%url 'pokemon_search'%}">Back to Search</a>
    <a class="home-btn" href="{%url 'pokedex_home'%}">Back to Home</a>
  </body>
</html>
