<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pokedex App</title>
  </head>
  <body>
    <h1>Welcome to the Pokedex App</h1>
    <p>Today is {{today}}</p>
    <a class="next-pg-btn" href="{%url 'pokemon_search'%}"
      >Click here to begin your search</a
    >
    <a class="list-btn" href="{%url 'pokemon_list'%}"
    >Click here to go to your favorite pokemon list</a
  >
  <a class="list-btn" href="{%url 'favorite-pokemon' %}"
  >Click here to add a pokemon to your favorites!</a
>
  </body>
</html>
